<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
  <div class="max-w-md w-full space-y-8">
    <div>
      <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
        Forgot your password?
      </h2>
    </div>

    <%= form_with(model: resource, url: password_path(resource_name), method: :post, data: { turbo: false }, class: %w[mt-8 space-y-6]) do |f| %>
      <%= render "users/shared/error_messages", resource: resource %>

      <%= render(FieldComponent.new(:email, form: f, type: :email, placeholder: 'Email', autofocus: true, autocomplete: 'email', required: true)) %>

      <%= render(ButtonComponent.new) do %>
        Send me reset password instructions
      <% end %>


    <% end %>

  </div>
</div>
